body.body-admin {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header.header-admin {

    .nav-menu {
        position: fixed;
        height: 100px;
        top: 0;

        .nav-list {

            .nav-list-item {

                &::after {
                    bottom: 33%;
                }
            }
        }
    }
}

main.main-admin {
    margin-top: 100px;
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    & h1 {
        color: var(--primary-color);
        font-size: 30px;
    }

    & p {
        color: var(--primary-color);
        margin: 20px 0;
    }

    .out-form {
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.144);
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        cursor: pointer;
    }

    & form {
        opacity: 0;
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 550px;
        position: fixed;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--secondary-color);
        z-index: 10;
        justify-content: space-around;
        gap: 10px;
        border-radius: 3px;
        box-shadow: 0 0 10px #000;

        & h2 {
            color: var(--primary-color);
        }

        & div {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & input,
            textarea {
                width: 300px;
                height: 35px;
                padding: 15px;
                background-color: var(--secondary-hover-color);
                border: none;
                outline: none;
                color: var(--primary-color);
                border-radius: 3px;
                transition: all 0.2s linear;
                border-bottom: 3px solid var(--secondary-hover-color);

                &:focus {
                    border-bottom: 3px solid var(--primary-color);
                }
            }

            & textarea {
                height: 120px;
                resize: none;
            }
        }

        & button {
            width: 200px;
            height: 40px;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border: none;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.2s linear;
            border: 2px solid transparent;

            &:hover {
                background-color: var(--secondary-color);
                color: var(--primary-color);
                border: 2px solid var(--primary-color);
                scale: 1.05;
            }
        }
    }

    .main-admin-search {
        display: flex;
        width: 100%;
        justify-content: space-between;

        & input {
            width: 300px;
            background-color: transparent;
            color: var(--primary-color);
            border: none;
            border-bottom: 2px solid #edb026;
            padding: 0.5rem;
            outline: none;

            &::placeholder {
                color: var(--primary-hover-color);
            }
        }

        & button {
            background-color: var(--secondary-color);
            border: 2px solid var(--primary-color);
            padding: 0.5rem 1.75rem;
            border-radius: 3px;
            color: var(--primary-color);
            cursor: pointer;
            transition: all 0.2s linear;
            align-self: self-end;
    
            &:hover {
                background-color: var(--primary-color);
                color: var(--secondary-color);
                border: 2px solid var(--secondary-color);
            }
        }
    }

    & table,
    th,
    td {
        border: 1px solid var(--secondary-color);
        border-collapse: collapse;
        margin-top: 20px;
    }

    & tr {

        &:nth-child(odd) {
            background-color: var(--primary-color);
        }

        &:nth-child(even) {
            background-color: var(--primary-hover-color);
        }
    }

    & th {
        background-color: #111;
        color: var(--primary-color);
        padding: 15px;

        &:nth-child(3) {
            width: 700px;
        }
    }

    & td {
        text-align: center;
        
        & img {
            width: 80px;
            height: 80px;
        }

        & button {
            border: none;
            background-color: transparent;
            font-size: 20px;
            margin: 20px;
            cursor: pointer;
            transition: all 0.1s linear;

            &:first-of-type:hover {
                color: green;
                scale: 1.3;
            }

            &:last-of-type:hover {
                color: red;
                scale: 1.3;
            }
        }
    }
}